In [1]:
import pandas as pd

In [2]:
from __future__ import print_function
import sys

In [3]:
import numpy as np

In [5]:
df = pd.read_csv('Train.csv')

FileNotFoundError: [Errno 2] File b'Train.csv' does not exist: b'Train.csv'

In [6]:
df = pandas.read_csv('Train.csv')

NameError: name 'pandas' is not defined

In [7]:
df = pd.read_csv('house.csv')

FileNotFoundError: [Errno 2] File b'house.csv' does not exist: b'house.csv'

In [8]:
df = pd.DataFrame(house_data)

NameError: name 'house_data' is not defined

In [ ]:
train_df = pd.read_csv('train.csv')

In [ ]:
train_df = pd.read_csv('./train.csv')

In [9]:
df = pd.read_csv('house_data.csv',encoding = 'utf-8' )

In [10]:
df.shape

(21607, 8)

In [35]:
df = pd.DataFrame(house_data)

NameError: name 'house_data' is not defined

In [12]:
df.describe()

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors
count,9.900000e+01,9.900000e+01,99.000000,99.000000,99.000000,99.000000,99.000000
mean,4.664620e+09,5.200763e+05,3.404040,1.989899,2086.383838,11478.818182,1.464646
std,2.935212e+09,3.061939e+05,0.794358,0.729236,864.592421,14655.249813,0.511363
min,1.600040e+07,1.530000e+05,2.000000,1.000000,770.000000,1044.000000,1.000000
25%,1.914950e+09,3.070000e+05,3.000000,1.500000,1410.000000,5000.000000,1.000000
50%,4.036801e+09,4.300000e+05,3.000000,2.000000,1900.000000,6720.000000,1.500000
75%,7.337325e+09,6.562500e+05,4.000000,2.500000,2570.000000,9823.000000,2.000000
max,9.822700e+09,2.000000e+06,5.000000,4.500000,5420.000000,101930.000000,3.000000

In [ ]:
def house_data

In [36]:
df = pd.DataFrame(house_data)

NameError: name 'house_data' is not defined

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21607 entries, 0 to 21606
Data columns (total 8 columns):
id             99 non-null float64
date           99 non-null object
price          99 non-null float64
bedrooms       99 non-null float64
bathrooms      99 non-null float64
sqft_living    99 non-null float64
sqft_lot       99 non-null float64
floors         99 non-null float64
dtypes: float64(7), object(1)
memory usage: 1.3+ MB

In [14]:
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors
0,7.129301e+09,20141013T000000,221900.0,3.0,1.00,1180.0,5650.0,1.0
1,6.414100e+09,20141209T000000,538000.0,3.0,2.25,2570.0,7242.0,2.0
2,5.631500e+09,20150225T000000,180000.0,2.0,1.00,770.0,10000.0,1.0
3,2.487201e+09,20141209T000000,604000.0,4.0,3.00,1960.0,5000.0,1.0
4,1.954401e+09,20150218T000000,510000.0,3.0,2.00,1680.0,8080.0,1.0

In [15]:
df.head(n)

NameError: name 'n' is not defined

In [16]:
n = 32

In [17]:
df.head(n)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors
0,7.129301e+09,20141013T000000,221900.0,3.0,1.00,1180.0,5650.0,1.0
1,6.414100e+09,20141209T000000,538000.0,3.0,2.25,2570.0,7242.0,2.0
2,5.631500e+09,20150225T000000,180000.0,2.0,1.00,770.0,10000.0,1.0
3,2.487201e+09,20141209T000000,604000.0,4.0,3.00,1960.0,5000.0,1.0
4,1.954401e+09,20150218T000000,510000.0,3.0,2.00,1680.0,8080.0,1.0
5,7.237550e+09,20140512T000000,1230000.0,4.0,4.50,5420.0,101930.0,1.0
6,1.321400e+09,20140627T000000,257500.0,3.0,2.25,1715.0,6819.0,2.0
7,2.008000e+09,20150115T000000,291850.0,3.0,1.50,1060.0,9711.0,1.0
8,2.414600e+09,20150415T000000,229500.0,3.0,1.00,1780.0,7470.0,1.0
9,3.793500e+09,20150312T000000,323000.0,3.0,2.50,1890.0,6560.0,2.0
10,1.736801e+09,20150403T000000,662500.0,3.0,2.50,3560.0,9796.0,1.0
11,9.212900e+09,20140527T000000,468000.0,2.0,1.00,1160.0,6000.0,1.0
12,1.141015e+08,20140528T000000,310000.0,3.0,1.00,1430.0,19901.0,1.5
13,6.054650e+09,20141007T000000,400000.0,3.0,1.75,1370.0,9680.0,1.0
14,1.175001e+09,20150312T000000,530000.0,5.0,2.00,1810.0,4850.0,1.5
15,9.297300e+09,20150124T000000,650000.0,4.0,3.00,2950.0,5000.0,2.0
16,1.875500e+09,20140731T000000,395000.0,3.0,2.00,1890.0,14040.0,2.0
17,6.865200e+09,20140529T000000,485000.0,4.0,1.00,1600.0,4300.0,1.5
18,1.600040e+07,20141205T000000,189000.0,2.0,1.00,1200.0,9850.0,1.0
19,7.983200e+09,20150424T000000,230000.0,3.0,1.00,1250.0,9774.0,1.0
20,6.300501e+09,20140514T000000,385000.0,4.0,1.75,1620.0,4980.0,1.0
21,2.524049e+09,20140826T000000,2000000.0,3.0,2.75,3050.0,44867.0,1.0
22,7.137970e+09,20140703T000000,285000.0,5.0,2.50,2270.0,6300.0,2.0
23,8.091400e+09,20140516T000000,252700.0,2.0,1.50,1070.0,9643.0,1.0
24,3.814700e+09,20141120T000000,329000.0,3.0,2.25,2450.0,6500.0,2.0
25,1.202000e+09,20141103T000000,233000.0,3.0,2.00,1710.0,4697.0,1.5
26,1.794500e+09,20140626T000000,937000.0,3.0,1.75,2450.0,2691.0,2.0
27,3.303700e+09,20141201T000000,667000.0,3.0,1.00,1400.0,1581.0,1.5
28,5.101402e+09,20140624T000000,438000.0,3.0,1.75,1520.0,6380.0,1.0
29,1.873100e+09,20150302T000000,719000.0,4.0,2.50,2570.0,7173.0,2.0
30,8.562750e+09,20141110T000000,580500.0,3.0,2.50,2320.0,3980.0,2.0
31,2.426039e+09,20141201T000000,280000.0,2.0,1.50,1190.0,1265.0,3.0

In [18]:
df.tail()

       id date  price  bedrooms  bathrooms  sqft_living  sqft_lot  floors
21602 NaN  NaN    NaN       NaN        NaN          NaN       NaN     NaN
21603 NaN  NaN    NaN       NaN        NaN          NaN       NaN     NaN
21604 NaN  NaN    NaN       NaN        NaN          NaN       NaN     NaN
21605 NaN  NaN    NaN       NaN        NaN          NaN       NaN     NaN
21606 NaN  NaN    NaN       NaN        NaN          NaN       NaN     NaN

In [19]:
n = 12

In [20]:
df.tail(n)

       id date  price  bedrooms  bathrooms  sqft_living  sqft_lot  floors
21595 NaN  NaN    NaN       NaN        NaN          NaN       NaN     NaN
21596 NaN  NaN    NaN       NaN        NaN          NaN       NaN     NaN
21597 NaN  NaN    NaN       NaN        NaN          NaN       NaN     NaN
21598 NaN  NaN    NaN       NaN        NaN          NaN       NaN     NaN
21599 NaN  NaN    NaN       NaN        NaN          NaN       NaN     NaN
21600 NaN  NaN    NaN       NaN        NaN          NaN       NaN     NaN
21601 NaN  NaN    NaN       NaN        NaN          NaN       NaN     NaN
21602 NaN  NaN    NaN       NaN        NaN          NaN       NaN     NaN
21603 NaN  NaN    NaN       NaN        NaN          NaN       NaN     NaN
21604 NaN  NaN    NaN       NaN        NaN          NaN       NaN     NaN
21605 NaN  NaN    NaN       NaN        NaN          NaN       NaN     NaN
21606 NaN  NaN    NaN       NaN        NaN          NaN       NaN     NaN

In [21]:
df

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors
0,7.129301e+09,20141013T000000,221900.0,3.0,1.00,1180.0,5650.0,1.0
1,6.414100e+09,20141209T000000,538000.0,3.0,2.25,2570.0,7242.0,2.0
2,5.631500e+09,20150225T000000,180000.0,2.0,1.00,770.0,10000.0,1.0
3,2.487201e+09,20141209T000000,604000.0,4.0,3.00,1960.0,5000.0,1.0
4,1.954401e+09,20150218T000000,510000.0,3.0,2.00,1680.0,8080.0,1.0
...,...,...,...,...,...,...,...,...
21602,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21603,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21604,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21605,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21606,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
df.columns

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors'],
      dtype='object')

In [23]:
df['id']

0        7.129301e+09
1        6.414100e+09
2        5.631500e+09
3        2.487201e+09
4        1.954401e+09
             ...
21602             NaN
21603             NaN
21604             NaN
21605             NaN
21606             NaN
Name: id, Length: 21607, dtype: float64

In [24]:
df[['id', 'date', 'price']]

                 id             date     price
0      7.129301e+09  20141013T000000  221900.0
1      6.414100e+09  20141209T000000  538000.0
2      5.631500e+09  20150225T000000  180000.0
3      2.487201e+09  20141209T000000  604000.0
4      1.954401e+09  20150218T000000  510000.0
...             ...              ...       ...
21602           NaN              NaN       NaN
21603           NaN              NaN       NaN
21604           NaN              NaN       NaN
21605           NaN              NaN       NaN
21606           NaN              NaN       NaN

[21607 rows x 3 columns]

In [25]:
df.bedrooms.max()

5.0

In [26]:
df.bedrooms.mean()

3.404040404040404

In [27]:
df.fillna(0, inplace = True)

In [28]:
df.bedrooms.mean()

0.01559679733419725

In [29]:
df['bedrooms'].replace(to_replace = np.nan, value=0, inplace = True)

In [30]:
df.bedrooms.sum()

337.0

In [31]:
df.bedrooms.isnull().sum()

0

AttributeError: 'DataFrame' object has no attribute 'Summary'

In [37]:
df[df.bedrooms == df.bedrooms.max()]

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors
14,1.175001e+09,20150312T000000,530000.0,5.0,2.00,1810.0,4850.0,1.5
22,7.137970e+09,20140703T000000,285000.0,5.0,2.50,2270.0,6300.0,2.0
42,7.203220e+09,20140707T000000,861990.0,5.0,2.75,3595.0,5639.0,2.0
51,7.231300e+09,20150217T000000,345000.0,5.0,2.50,3150.0,9134.0,1.0
54,4.217401e+09,20150303T000000,920000.0,5.0,2.25,2730.0,6000.0,1.5
58,7.922800e+09,20140827T000000,951000.0,5.0,3.25,3250.0,14342.0,2.0
69,1.802000e+09,20140612T000000,1330000.0,5.0,2.25,3200.0,20158.0,1.0
70,1.525059e+09,20140912T000000,1040000.0,5.0,3.25,4770.0,50094.0,1.0
86,2.599001e+09,20141103T000000,305000.0,5.0,2.25,2660.0,8400.0,1.5
91,5.036300e+09,20150311T000000,1100000.0,5.0,2.75,3520.0,6353.0,2.0

In [38]:
df.set_index('id', inplace=True)

In [39]:
df.loc['3793500160']

E:\anaconda\lib\site-packages\pandas\core\indexes\base.py:2897: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  return self._engine.get_loc(key)

TypeError: Cannot convert bool to numpy.ndarray

In [40]:
df.reset_index(inplace=True)

In [41]:
df.loc

In [43]:
df.loc['20140514T000000']

KeyError: '20140514T000000'

In [44]:
df.loc['4']

KeyError: '4'

In [45]:
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors
0,7.129301e+09,20141013T000000,221900.0,3.0,1.00,1180.0,5650.0,1.0
1,6.414100e+09,20141209T000000,538000.0,3.0,2.25,2570.0,7242.0,2.0
2,5.631500e+09,20150225T000000,180000.0,2.0,1.00,770.0,10000.0,1.0
3,2.487201e+09,20141209T000000,604000.0,4.0,3.00,1960.0,5000.0,1.0
4,1.954401e+09,20150218T000000,510000.0,3.0,2.00,1680.0,8080.0,1.0

In [46]:
df.rename(columns = {'price':'prices'}, inplace = True)

In [47]:
df.head()

,id,date,prices,bedrooms,bathrooms,sqft_living,sqft_lot,floors
0,7.129301e+09,20141013T000000,221900.0,3.0,1.00,1180.0,5650.0,1.0
1,6.414100e+09,20141209T000000,538000.0,3.0,2.25,2570.0,7242.0,2.0
2,5.631500e+09,20150225T000000,180000.0,2.0,1.00,770.0,10000.0,1.0
3,2.487201e+09,20141209T000000,604000.0,4.0,3.00,1960.0,5000.0,1.0
4,1.954401e+09,20150218T000000,510000.0,3.0,2.00,1680.0,8080.0,1.0

In [48]:
dummies = pd.get_dummies(df.summary)

AttributeError: 'DataFrame' object has no attribute 'summary'

In [49]:
df.Summary()

AttributeError: 'DataFrame' object has no attribute 'Summary'

In [51]:
df = pd.DataFrame(['house_data'])

In [52]:
df.Summary

AttributeError: 'DataFrame' object has no attribute 'Summary'

In [53]:
Index([u'id', u'date', u'prices', u'bedrooms',u'bathrooms',u'sqft_living',u'sqft_lot',u'floors'], dtype='object')

NameError: name 'Index' is not defined

In [54]:
df = pd.concat([df],axis='columns')

In [56]:
df = df.drop(['df'],axis='columns')

KeyError: "['df'] not found in axis"

In [57]:
df

            0
0  house_data

In [58]:
df = pd.concat([df],axis='columns')

In [59]:
df

            0
0  house_data

In [60]:
df1= df.copy()

In [61]:
train = df1.sample(frac=0.75,random_state=1)

In [62]:
test = df1.drop(train.index)

In [63]:
test.count()

0    0
dtype: int64