In [6]:
import pandas as pd

In [9]:
df=pd.read_csv("b.csv")

In [10]:
df.tail()

            index      date   time      open      high       low     close
367570  BANKNIFTY  20160930  15:26  19321.00  19322.80  19314.25  19318.35
367571  BANKNIFTY  20160930  15:27  19318.80  19322.20  19312.30  19317.40
367572  BANKNIFTY  20160930  15:28  19317.55  19323.40  19314.45  19315.95
367573  BANKNIFTY  20160930  15:29  19315.80  19324.20  19312.00  19314.10
367574  BANKNIFTY  20160930  15:30  19313.60  19330.85  19311.20  19323.20

In [13]:
df.open

0         12125.70
1         12161.75
2         12126.85
3         12157.25
4         12162.80
            ...
367570    19321.00
367571    19318.80
367572    19317.55
367573    19315.80
367574    19313.60
Name: open, Length: 367575, dtype: float64

In [14]:
df.describe()

,date,open,high,low,close
count,3.675750e+05,367575.000000,367575.000000,367575.000000,367575.000000
mean,2.014401e+07,15078.023296,15082.498465,15073.480983,15077.993028
std,1.169302e+04,3184.438089,3185.213591,3183.628315,3184.411825
min,2.012110e+07,1405.050000,1407.050000,1404.600000,1405.200000
25%,2.013103e+07,12092.200000,12095.000000,12089.150000,12092.175000
50%,2.014110e+07,15526.100000,15531.200000,15521.400000,15525.950000
75%,2.015103e+07,17956.050000,17960.550000,17951.100000,17955.800000
max,2.016093e+07,20903.950000,20907.550000,20899.250000,20907.550000

In [18]:
df['time']

0         09:16
1         09:17
2         09:18
3         09:19
4         09:20
          ...
367570    15:26
367571    15:27
367572    15:28
367573    15:29
367574    15:30
Name: time, Length: 367575, dtype: object

In [16]:
df.columns

Index(['index', 'date', 'time', 'open', 'high', 'low', 'close'], dtype='object')

In [24]:
df['date']

0         20121203
1         20121203
2         20121203
3         20121203
4         20121203
            ...
367570    20160930
367571    20160930
367572    20160930
367573    20160930
367574    20160930
Name: date, Length: 367575, dtype: int64

In [21]:
df['index']

0         BANKNIFTY
1         BANKNIFTY
2         BANKNIFTY
3         BANKNIFTY
4         BANKNIFTY
            ...
367570    BANKNIFTY
367571    BANKNIFTY
367572    BANKNIFTY
367573    BANKNIFTY
367574    BANKNIFTY
Name: index, Length: 367575, dtype: object

In [25]:
df['high']

0         12161.70
1         12164.80
2         12156.10
3         12164.75
4         12162.80
            ...
367570    19322.80
367571    19322.20
367572    19323.40
367573    19324.20
367574    19330.85
Name: high, Length: 367575, dtype: float64

In [26]:
df['low']

0         12125.70
1         12130.40
2         12126.85
3         12151.60
4         12148.20
            ...
367570    19314.25
367571    19312.30
367572    19314.45
367573    19312.00
367574    19311.20
Name: low, Length: 367575, dtype: float64

In [27]:
df['close']

0         12160.95
1         12130.40
2         12156.10
3         12164.20
4         12151.15
            ...
367570    19318.35
367571    19317.40
367572    19315.95
367573    19314.10
367574    19323.20
Name: close, Length: 367575, dtype: float64

In [28]:
df['low']

0         12125.70
1         12130.40
2         12126.85
3         12151.60
4         12148.20
            ...
367570    19314.25
367571    19312.30
367572    19314.45
367573    19312.00
367574    19311.20
Name: low, Length: 367575, dtype: float64